<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3>
                <span class="fa-fw open-close">
                    <i class="ti-menu hidden-xs"></i>
                    <i class="ti-close visible-xs"></i>
                </span>
                <span class="hide-menu">Навигация</span>
            </h3>
        </div>
        <ul class="nav" id="side-menu">
            <li>
                <a href="#" class="waves-effect">
                    <i class="mdi mdi-settings fa-fw"></i>
                    <span class="hide-menu">
                        Accounts
                        <span class="fa arrow"></span>
                    </span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ path('accounts') }}" class="waves-effect">
                            <i class="mdi mdi-call-merge m-r-10" style="font-size: 20px"></i>
                            <span class="hide-menu">Accounts</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('account_types') }}" class="waves-effect">
                            <i class="mdi mdi-call-split m-r-10" style="font-size: 20px"></i>
                            <span class="hide-menu">Types</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect"><i class="mdi mdi-account m-r-10" style="font-size: 20px"></i>
                    <span class="hide-menu">Profile</span>
                </a>
            </li>
            <li>
                <a href="#" class="waves-effect">
                    <i class="mdi mdi-power m-r-10" style="font-size: 20px"></i>
                    <span class="hide-menu">Log out</span>
                </a>
            </li>
        </ul>
    </div>
</div>
