<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <div class="top-left-part">
            <!-- Logo -->
            <a class="logo" href="{{ path('index_page') }}">
                <!-- Logo icon image, you can use font-icon also -->
                <b>
                    <!--This is dark logo icon-->
                    <img src="/build/assets/images/admin-logo.png" alt="home" class="dark-logo" />
                    <!--This is light logo icon-->
                    <img src="/build/assets/images/admin-logo-dark.png" alt="home" class="light-logo" />
                </b>
                <!-- Logo text image you can use text also -->
                <span class="hidden-xs">
                        <!--This is dark logo text-->
                    <img src="/build/assets/images/admin-text.png" alt="home" class="dark-logo" />
                    <!--This is light logo text-->
                    <img src="/build/assets/images/admin-text-dark.png" alt="home" class="light-logo" />
                </span>
            </a>
        </div>

        <ul class="nav navbar-top-links navbar-right pull-right navbar-menu">
            <li>
                <a href="#" class="navbar-item">
                    <span class="username hidden-xs">{{ app.user.username }}</span>
                </a>
            </li>
            <li>
                <a href="{{ path('logout') }}" class="navbar-item">
                    <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 19 19"
                            width="19px" height="16px">
                        <path fill-rule="evenodd"  fill="rgb(255, 0, 0)"
                              d="M15.833,7.200 L6.729,7.200 L6.729,8.800 L15.833,8.800 L12.667,12.000 L13.854,13.200 L19.000,8.000 L13.854,2.800 L12.667,4.000 L15.833,7.200 ZM11.083,10.400 L9.500,10.400 L9.500,14.400 L1.583,14.400 L1.583,1.600 L9.500,1.600 L9.500,5.600 L11.083,5.600 L11.083,-0.000 L0.003,-0.000 L-0.000,16.000 L11.083,16.000 L11.083,10.400 Z"/>
                    </svg>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
<!-- End Top Navigation -->
